# Generated website directory
_site/

# Sass cache
.sass-cache/

# Jekyll cache & metadata
.jekyll-cache/
.jekyll-metadata

# Notes graph metadata
_includes/notes_graph.json

# IDEA
.idea/

# Obsidian config files
_notes/.obsidian/
_notes/.git/
_notes/.trash/
_notes/.DS_Store
_notes/PKM/.DS_Store
_notes/PKM/Media/.DS_Store
_notes/.gitignore
_notes/.gitmodules
_notes/.obsidian-git-data

# Obsidian directories
_notes/CMS/
_notes/CMS/Personal-Blog/
_notes/Dits/
_notes/GTD/
_notes/Utils/
_notes/PKM/Media/
_notes/PKM/Inbox/
_notes/MOC/

